 {% load static %}
<script src="{% static 'jquery.min.js' %}"></script>

<script src="{% static '/jexcel/dist/jexcel.js' %}"></script>
<link rel="stylesheet" href="{% static '/jexcel/dist/jexcel.css' %}" type="text/css" />
<script src="{% static '/jsuites/dist/jsuites.js' %}"></script>
<link rel="stylesheet" href="{% static '/jsuites/dist/jsuites.css' %}" type="text/css" />

<div id="spreadsheet"></div>

<input type="button" value="保存" onclick="submit()" /><i id="ret"></i></div>
		{% csrf_token %}

<script>
var options = {
    data:JSON.parse({{ data|safe }}),
    columns:{{ columns|safe }},
    minDimensions:{{ minDimensions|safe }},
}
$('#spreadsheet').jexcel(options);
function submit() {
    txt = JSON.stringify($('#spreadsheet').jexcel('getData', false))
    csrf = $("input[name='csrfmiddlewaretoken']").val()
    $.post("{% url 'myexcel:excel' 3 %}", {data:txt, csrfmiddlewaretoken:csrf}, function (result) {
        $("#ret").html(result.data)
    })
}
</script>